.container {
  width: 100%;
  background-color: #0A0E12;
  padding-bottom: 4rem;
}
.wrap {
  max-width: 80rem;
  height: 100%;
  margin: 0 auto;
  padding: 3rem 2.813rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.leftTopBox {
  display: flex;
  gap: clamp(1.5rem, 2vw, 3rem);
  padding-bottom: 2rem;
}

.listEach {
  color: #ccc;
  padding-bottom: 0.7rem;
}
.label {
  font-size: clamp(1rem, 1vw, 1.25rem);
  font-weight: 700;
  color: #fff;
  padding-right: 0.7rem;
}
.contactBox {
  padding-bottom: 2rem;
}
.contact {
  font-size: clamp(1.2rem, 2.5vw, 1.75rem);
  font-weight: 700;
  text-align: right;
}
.phoneNumber {
  color: var(--color-main);
  font-size: 1.75rem;
  font-size: clamp(1.2rem, 2.5vw, 1.75rem);
  font-weight: 700;
  padding-top: 0.3rem;
}


// 반응형
@media (max-width: 768px) {
  .container {
    padding-bottom: 7rem;
  }
  .copyright {
    font-size: 0.875rem;
  }
  .leftTopBox {
    flex-direction: column;
    gap: 0;
  }
  .contact {
    text-align: left;
  }
}
@media (max-width: 480px) {
  .wrap {
    padding: 2rem 1.25rem 2rem;
  }
  .copyright {
    font-size: clamp(0.7rem, 3vw, 0.875rem);
  }
}